.nekoh__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 2rem;
}

.nekoh__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nekoh__navbar-links_logo {
    margin-right: 2rem;
}

.nekoh__navbar-links_logo img {
    width: 222px;
    height: 26px;
}  

.nekoh__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.nekoh__navbar-sign {
    display: flex;
    justify-content: flex-end;
}

.nekoh__navbar-links_container p,
.nekoh__navbar-links_container a, 
.nekoh__navbar-sign p,
.nekoh__navbar-menu_container p {
    color: #ffffff !important;
    font-family: var(--font-family);
    font-weight: 500;
    margin: 0 1rem;
    cursor: pointer;
}