.nekoh__possibility {
    display: flex;
    flex-direction: row;
}

.nekoh__possibility-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
}

.nekoh__possibility-image img {
    width: 100%;
    height: 100%;
}

.nekoh__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nekoh__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    margin-bottom: 2rem;
}

.nekoh__possibility-content h4:last-child {
    color: #FF8A71;
}

.nekoh__possibility-content p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 16px;
    color: var(--color-text);
    margin-bottom: 2rem;
    margin: 2rem 0;

}

@media screen and (max-width: 950px) {
    .nekoh__possibility {
        flex-direction: column;
    }

    .nekoh__possibility-image {
        margin: 1rem 0;
    }

    .nekoh__possibility-content {
        margin-top: 2rem;
    }
}